.collapse {
    cursor: pointer;
    padding: 15px 0 15px 0 ;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-transform: uppercase;
    color: $lightgreen;
    position: relative;

    &-content {
        background-color: white;
        max-height: 45px;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
    }
}


