a {
    color: inherit;
    text-decoration: inherit;

    &:link {
        color: inherit;
        text-decoration: inherit;
    }

    &:visited {
        color: inherit;
        text-decoration: inherit;
    }

    &:hover {
        color: inherit;
        text-decoration: inherit;
    }

    &:active {
        color: inherit;
        text-decoration: inherit;
    }

}